@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --primary-color: #f54b48;
    --secondary-color: #FAEE44;
    --accent1-color: #F5A842;
    --accent2-color: #4ABEEC;

    --heading-font: 'lato', serif;
    --paragraph-font: 'montserrat', serif;

    --nav-background-color: #F5A842;
    --nav-link-color: #4ABEEC;
    --nav-hover-link-color: #6209f0;
    --nav-hover-background-color: #f 54b48;
}
.hero article {
  color:white;
  position: absolute;
  top: 70%;
  left: 70%;
  font-size: 30px;
  transform: translate(-50%, -50%);
  text-align: center;
  
}


 h1{
  position:relative;
  text-align: center;
  top: -100%;
  color: rgb(197, 197, 197); 
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, .1);
  padding: 1rem;
  background-color:rgba(0, 0, 0, .5) ;
  /* width:100%; */
  
}

  h2{
    color: var(--accent1-color);
  }

  article{
    position: absolute;
  }


p {
  font-family: var(--paragraph-font);

}

.sociallinks{
  color: var(--nav-link-color);
  text-decoration: none;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
    float: right;

    
  }

  .hero{
    position: relative;
    width: 100%;
    height: 400px;

  }
header{
   background-color: #f1f1f1;
   padding: 10px;
}
body{
  max-width: 840px;
  margin: 0 auto;
}


