@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    color: #333;
}

:root {
    --primary-color: #f54b48;
    --secondary-color: #FAEE44;
    --accent1-color: #F5A842;
    --accent2-color: #4ABEEC;

    --heading-font: 'lato', serif;
    --paragraph-font: 'montserrat', serif;

    --nav-background-color: #F5A842;
    --nav-link-color: #4ABEEC;
    --nav-hover-link-color: #6209f0;
    --nav-hover-background-color: #f54b48;
}

header {
    background-color: var(--primary-color);
    padding: 20px;
    text-align: center;
    color: white;
}


h2, h3, h4 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h1 {
    font-family: var(--heading-font);
}


p{
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    color: var(--nav-link-color);
    display: block;
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited{
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
    padding: 5px;
}

footer {
    border-top: 1px solid #ccc;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    font-size: 0.9em;
    color: #666;
}

